.nav {
    background: #171a21;
    left: -200px;
    top: 60px;
    height: calc(100% - 60px);
    position: absolute;
    width: 200px;
    padding: 0 15px;
    z-index: 1;
    transition: 300ms;
}

.navbar {
    padding: 15px;
    display: flex;
    flex-direction: column;
}
.navbar li {
    font-size: 18px;
    list-style-type: none;
    margin-bottom: 15px;
    display: flex;
}
.navbar a {
    color: #f7fff7;
    text-decoration: none;
}
.navbar a:hover {
    color: #4ecdc4;
}
.navbar .active{
    color:#0098d2;
    font-weight: 500;
}
.navbar__item_settings {
    margin-top: 20px;
}
