nav {
    background: #171a21;
}
.sidebar {
    padding: 15px;
    display: flex;
    flex-direction: column;
}
.sidebar li {
    font-size: 18px;
    list-style-type: none;
    margin-bottom: 15px;
    display: flex;
}
.sidebar a {
    color: #f7fff7;
    text-decoration: none;
}
.sidebar a:hover {
    color: #4ecdc4;
}
.sidebar__item_settings {
    margin-top: 20px;
}
