.bg{
    display: flex;  
    min-height: 180px;
    max-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: 300ms;
    background-color:rgb(192, 191, 191);
}
.bgImg {
    width: 100%;
    object-fit: cover;
}
.profileInfo{
    position: sticky;
    bottom: 0;
    width: 100%;
}
.container{
    width: 100%;
    max-width: 960px;
    display: grid;
    grid-template-columns: 96px 1fr;
    gap: 15px;
    margin: auto;
    height: 100%;
    padding: 0 40px;
}
.header{
    width: 100%;
}
.userProfile{
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px 0;
    width: 100%;
}
.userProfileRow{
    display: flex;
    width: 100%;
    margin-bottom: 25px;
}
.avatar{
    margin-right: 15px;
    width: 96px;
    height: 96px;
}
.avatarWrapper{
    width: 100%;
    height: 100%;
}
.avatarContainer{
    display: flex;
    overflow: hidden;
    border: 1px solid white;
    border-radius: 50%;
    margin-top: -25px;
    width: 100%;
    height: 100%;
    background-color: white;
}
.avatar img{
    width: 100%;
    object-fit: cover;
}
.title{
    width: 160px;
    margin-right: 15px;
}
.title, .actions{
    align-self: center;
}
.title h2{
    font-size: 24px;
}
.actions{
    margin-left: auto;
}
.button{
    font-size: 14px;
}