header {
    height: 60px;
    box-shadow: 0px 0px 13px 0px #171a21;
}
.menuOpen nav{
    left: 0;
}
.main {
    color: #30343f;
    transition: 300ms;
    margin-left: 0;
}
.menuOpen .main{
    margin-left: 200px;
}
.menuOpen .main.dialogs{
    width: calc(100vw - 200px);
}